{% extends "base.html" %}

{% block content %}
    <!-- Custom CSS -->
    <link href="/static/css/4-col-portfolio.css" rel="stylesheet">

    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">All Apps
                    <small> All uploaded app</small>
                </h1>
            </div>
        </div>
    
    <h2>Files</h2>

    {% for file in files %}

        <div class="col-md-3 portfolio-item">
             <a href="/files/{{file._id}}">

              {% if file.img_id %}
                 <img class="img-responsive" src="/show/{{file.img_id}}" 
                      style="width:250px;height:250px;margin-top:30;">
              {% else %}
                <img class="img-responsive" src="http://placekitten.com/g/128/192" alt="">
              {% endif %}
             </a> 
         </div>
         {% else %}
          <p>No app found</p>
    {% endfor %}

</div>
{% endblock %}
