{% extends "base.html" %}

{% block content %}
    <h1>More details</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
      <p>
      App title:<br>
      {{form.title}}<br>
      </p>
      <p>
      Description<br>
      {{form.description}}<br>
      </p>
      <p>
      Category<br>
      {{form.category}}<br>
      </p>
      <p><input type="submit" value="submit the details"></p>
    </form>

    <a href="{{ url_for('list_gridfs_files') }}">All files</a>

{% endblock %}

